body{
    background-image: url(/Images/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat ;
    color: lawngreen;
    font-size: 1.2em;
}
.kontakt{
    padding-top: 10%;
    padding-bottom: 5%;
}

.mail{
    padding-bottom: 5%;
    
    
    
}
form input[type="text"],input[type="email"]{

    padding:1%;
    margin: 1%;
    border-radius: 5%;

}
form textarea{
    padding-bottom: 15%;
    margin-top: 2%;
    border-radius: 10%;
    margin-bottom: 2%;
    margin-left: 10%;
}
footer{
    position: absolute;
    margin-top: 0;
}
form{
    padding-bottom: 5%;

}
form input[type="submit"]{

    margin-left: 10%;
    border-radius: 10%;
    color: darkred;
}
form input[type="submit"]:hover{

    background-color: gold;
}
